.form {
    position: relative;
    padding: 50px 100px;
    border-radius: 20px;
    max-height: 562px;
    max-width: 780px;
    text-align: center;
    margin: 0 auto;
    background-color: $light-grey;

    @include laptop {
        padding: 50px 93px;
        max-height: 486px;
        max-width: 680px;
    }

    @include tablet {
        padding: 40px 60px;
        max-height: 440px;
        max-width: 540px;
    }

    @include phone {
        padding: 30px 29px;
        max-height: 513px;
        max-width: 500px;
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;

        @include laptop {
            font-size: 24px;
            margin-bottom: 20px;
        }

        @include tablet {
            font-size: 18px;
        }

        @include phone {
            font-size: 16px;
            margin-bottom: 14px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        text-align: center;

        @include laptop {
            font-size: 18px;
            line-height: 26px;
        }

        @include tablet {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__text-block {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;

        @include laptop {
            max-width: 480px;
        }

        @include tablet {
            max-width: 380px;
        }
    }

    &__text_orange,
    &__title_orange {
        color: $orange;
    }

    &__contacts {
        font-style: normal;
        line-height: 24px;
        display: flex;
        gap: 45px;
        justify-content: center;
        margin-bottom: 60px;

        @include laptop {
            margin-bottom: 40px;
        }

        @include tablet {
            gap: 41px;
            justify-content: center;
            margin-bottom: 30px;
        }

        @include phone {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__contact {
        font-weight: 550;
    }

    &__contact:last-of-type {
        margin-bottom: 0;
    }

    &__input-box {
        display: flex;
        gap: 20px;
        justify-content: center;

        @include tablet {
            margin-bottom: 20px;
        }

        @include phone {
            flex-direction: column;
            gap: 14px;
            align-items: center;
        }
    }

    &__label {
        font-size: 12px;
        text-align: left;
    }

    &__input {
        width: 280px;
        height: 40px;
        border: none;

        @include laptop {
            width: 200px;
            height: 35px;
        }
    }

    &__input:focus {
        outline: 1px solid $dark-grey;
    }


    &__field {
        margin-bottom: 35px;
        border: none;
    }

    &_block {
        display: block;
    }

    &__button {
        width: 80px;
        border: none;
        cursor: pointer;
    }

    &__picture-button {
        width: 73px;

        @include phone {
            width: 61px;
        }
    }

    &__text-button {
        display: block;
        color: $orange;
        font-size: 12px;
        line-height: 16px;
        font-weight: 550;
        text-transform: uppercase;

        @include phone {
            font-size: 8px;
            line-height: 12px;
        }
    }

    &__button-block {
        width: 494px;
        margin: 0 auto;
        text-align: right;

        @include laptop {
            width: 420px;
        }

        @include phone {
            text-align: center;
        }
    }

    &__text_margin {
        margin-bottom: 20px;
    }

    &__text_inline {
        @include laptop {
            display: inline;
            margin-bottom: 20px;
            line-height: 20px;
        }
    }
}