.modal-form {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;

  &__wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    padding-top: 20vh;
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    cursor: pointer;
  }

  &__close-btn-img {
    fill: $dark-grey;
  }
}